.jumbotron {
  background-color: #f2f2ff;
  // color:white;
}

.card {
  margin-top: 1em;
}

.person-card .card-title {
  text-align: center;
  padding-bottom: 40px;
}

.form-control.ng-invalid {
  border-left: 5px solid red;
}
