<div class="container" style="margin-top: 1em;">
  <form [formGroup]="companydata" class="jumbotron" (ngSubmit)="onSubmit()">
    <div class="card person-card">
      <div class="card-body">
        <h2 id="who_message" class="card-title">Company Profile</h2>
        <div class="row">
          <div class="form-group col-sm-6 col-xs-12">
            <div
              class="form-group"
              [class.has-error]="
                companydata.controls.name.invalid &&
                (companydata.controls.name.dirty ||
                  companydata.controls.name.touched)
              "
            >
              <label class="col-form-label control-label">Company Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter company name"
                formControlName="name"
                required
              />
              <ng-container
                *ngIf="
                  companydata.controls.name.invalid &&
                  (companydata.controls.name.dirty ||
                    companydata.controls.name.touched)
                "
              >
                <span
                  *ngIf="companydata.controls.name.errors.required"
                  class="help-block"
                  >Name is required.</span
                >
              </ng-container>
            </div>
          </div>
          <div class="form-group col-sm-6 col-xs-12">
            <div
              class="form-group"
              [class.has-error]="
                companydata.controls.address.invalid &&
                (companydata.controls.address.dirty ||
                  companydata.controls.address.touched)
              "
            >
              <label class="col-form-label control-label"
                >Company Address</label
              >
              <input
                type="text"
                class="form-control"
                placeholder="Enter company address"
                formControlName="address"
                required
              />
              <ng-container
                *ngIf="
                  companydata.controls.address.invalid &&
                  (companydata.controls.address.dirty ||
                    companydata.controls.address.touched)
                "
              >
                <span
                  *ngIf="companydata.controls.address.errors.required"
                  class="help-block"
                  >Address is required.</span
                >
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <ng-container
        formArrayName="employees"
        *ngFor="
          let employee of companydata.get('employees').controls;
          let i = index
        "
      >
        <div class="col-md-6" style="padding:0.5em;">
          <div class="card">
            <div class="card-body" [formGroupName]="i">
              <h2 class="card-title">
                Employee #{{ i + 1 }}
                <button
                  type="button"
                  class="btn btn-default btn-sm btn-danger"
                  (click)="removeEmployee(i)"
                >
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </h2>
              <div
                class="form-group"
                [class.has-error]="
                  employee.controls.name.invalid &&
                  (employee.controls.name.dirty ||
                    employee.controls.name.touched)
                "
              >
                <label class="col-form-label control-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter name"
                  formControlName="name"
                  required
                />
                <ng-container
                  *ngIf="
                    employee.controls.name.invalid &&
                    (employee.controls.name.dirty ||
                      employee.controls.name.touched)
                  "
                >
                  <span
                    *ngIf="employee.controls.name.errors.required"
                    class="help-block"
                    >Name is required.</span
                  >
                </ng-container>
              </div>
              <div
                class="form-group"
                [class.has-error]="
                  employee.controls.phone.invalid &&
                  (employee.controls.phone.dirty ||
                    employee.controls.phone.touched)
                "
              >
                <label class="col-form-label control-label">Phone number</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter phone number"
                  formControlName="phone"
                  required
                />
                <ng-container
                  *ngIf="
                    employee.controls.phone.invalid &&
                    (employee.controls.phone.dirty ||
                      employee.controls.phone.touched)
                  "
                >
                  <span
                    *ngIf="employee.controls.phone.errors.required"
                    class="help-block"
                    >Phone number is required.</span
                  >
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <button
          type="button"
          class="btn btn-primary btn-block"
          (click)="addNewEmployee()"
        >
          Add New Employee
        </button>
      </div>
      <div class="col-sm-6 col-xs-12">
        <button
          type="button"
          class="btn btn-primary btn-block"
          (click)="reloadData()"
        >
          Reload Form Data
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-12">
        <button
          type="submit"
          class="btn btn-success btn-lg btn-block"
          [disabled]="!companydata.valid"
          title="{{
            companydata.valid
              ? ''
              : 'Please enter all required fields to enable this button'
          }}"
        >
          Save Form Data
        </button>
      </div>
    </div>
    <div style="margin-top: 1em;"></div>
  </form>
</div>
<div class="container">
  <div class="jumbotron">
    <h2>Form Result</h2>
    Current Value: {{ companydata.value | json }} <br />
    Form Status: {{ companydata.status }}
  </div>
</div>
